@use "sass:math";

// <НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================
$fontFamily: "Roboto";
$fontSize: 18;
$mainColor: #000;
$maxWidthContainer: 1450px;
@import "base/base";
// </НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================

body {
    color: $mainColor;
    font-size: $fontSize + px;
    line-height: math.div(24, $fontSize);
    font-family: $fontFamily, sans-serif;

    // Скролл заблокирован
    &._lock {
        overflow: hidden;
        touch-action: none;
    }
    @include lg {
        font-size: 14px;
        line-height: 20px;
    }
}
html {
    scroll-behavior: smooth;
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    width: 100%;
    > main {
        overflow: hidden;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}
//<ОСНОВНАЯ СЕТКА>============================================================================================================================
.container {
    max-width: $maxWidthContainer;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 25px;
}
.swiper-wrapper {
    display: flex;
}
//</ОСНОВНАЯ СЕТКА>============================================================================================================================

// Компоненты
@import "../components/header/header";
@import "../components/footer/footer";
// @import "../components/tabs/tabs";

// Подключение стилей отдельных страниц
@import "./pages/main";
